<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Language|signup</title>
    <link rel="icon" href="../static/favicon.ico" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/styles.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anta&family=Kosugi+Maru&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container_signup">
      <div class="header">
        <div class="header_inner">
          <div class="header_icon">
            <ion-icon name="language_outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="signup_form_wrapper">
        <form class="registration_form signup" method="post">
          <h1 class="registration_title">新規会員登録</h1>
          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
          <div class="signup_form">
            <label class="registration_label" for="signup-name-input"
              >ユーザー名</label
            >
            <input
              class="signup_input"
              type="text"
              placeholder="ユーザー名"
              name="name"
              id="signup-name-input"
            />
          </div>
          <div class="signup_form">
            <label class="registration_label" for="signup-email-input"
              >メールアドレス</label
            >
            <input
              class="signup_input"
              type="text"
              placeholder="メールアドレス"
              name="email"
              id="signup-email-input"
            />
          </div>
          <div class="signup_form">
            <label class="registration_label" for="signup-password-input"
              >パスワード</label
            >
            <input
              class="signup_input"
              type="password"
              placeholder="パスワード"
              name="password1"
              id="signup-password-input"
            />
          </div>
          <div class="signup_form">
            <label
              class="registration_label"
              for="signup-password-confirmation-input"
            >
              パスワード（確認）
            </label>
            <input
              class="signup_input"
              type="password"
              placeholder="パスワード（確認）"
              name="password2"
              id="signup-password-confirmation-input"
            />
          </div>
          <!-- ラジオボタンで「学びたい言語」「話せる言語」実装 -->
          <div class="signup_radio">
            <p>学びたい言語</p>
            <div class="signup_radio_button">
              <div class="sign_up_radio_button_each">
                <input
                  type="radio"
                  id="japanese"
                  name="learning_language"
                  value="ja"
                />
                <label for="japanese">日本語</label>
              </div>
              <div class="sign_up_radio_button_each">
                <input
                  type="radio"
                  id="english"
                  name="learning_language"
                  value="en"
                />
                <label for="english">英語</label>
              </div>
            </div>
          </div>
          <div class="signup_radio">
            <p>話せる言語</p>
            <div class="signup_radio_button">
              <div class="sign_up_radio_button_each">
                <input type="radio" id="japanese2" name="language" value="ja" />
                <label for="japanese2">日本語</label>
              </div>
              <div class="sign_up_radio_button_each">
                <input type="radio" id="english2" name="language" value="en" />
                <label for="english2">英語</label>
              </div>
            </div>
          </div>
          <div class="signup_form">
            <label class="registration_label" for="signup-living-country-input"
              >お住まいの国</label
            >
            <input
              class="signup_input"
              type="text"
              placeholder="日本"
              name="country"
              id="signup-living-country-input"
            />
          </div>
          <div class="signup_form">
            <label class="registration_label" for="signup-living-town-input"
              >お住まいの町</label
            >
            <input
              class="signup_input"
              type="text"
              placeholder="東京"
              name="city"
              id="signup-living-town-input"
            />
          </div>
          <div class="registration_button_container">
            <button
              class="registration_button pink signup_button"
              type="submit"
            >
              新規会員登録
            </button>
            <a class="switch_register_mode" href="{{ url_for('login') }}">
              ログイン画面に戻る
            </a>
          </div>
        </form>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
