<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Language</title>
    <link rel="icon" href="../static/favicon.ico" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/styles.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anta&family=Kosugi+Maru&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="header_inner">
          <h1 class="header_title">OUR<span> </span>LANGUAGE</h1>
          <button
            class="header_hamburger"
            aria-controls="navigation"
            aria-expanded="false"
            aria-label="メニューを開く"
          >
            <div class="hamburger_menu_button">
              <span></span><span></span><span></span>
            </div>
          </button>
        </div>
        <section class="profile_dialog">
          <div class="dli_close_profile"></div>
          <div class="profile_render"></div>
          <a class="modify-profile-button" href="{{ url_for('profile') }}"
            >変更する</a
          >
          <p class="profile_dialog_title">Profile</p>
        </section>
        <section class="select_user_dialog">
          <button
            class="dli-close"
            aria-controls="navigation"
            aria-expanded="false"
            aria-label="ユーザー選択ダイアログを閉じる"
          ></button>
          <ul class="list_user_wrapper"></ul>
          <div class="select_user_dialog_title_container">
            <h3 class="select_user_dialog_title">
              参加したいチャットを選んでください
            </h3>
          </div>
        </section>
        <section class="hamburger_menu">
          <div class="close_hamburger_menu"></div>
          <div class="button_container">
            <button class="menu_button active_profile"></button>
            <button class="menu_button join_channel"></button>
            <form action="/logout" method="POST">
              <button type="submit" class="menu_button logout_button"></button>
            </form>
          </div>
          <h3>Menu</h3>
        </section>
        <div class="outer_menu"></div>
      </div>
      <div class="channel_container">{% include "channel-list.html" %}</div>
      <div class="message_container">{% include "message.html" %}</div>
      <div class="input_box_area">
        <div class="input_box_wrapper">
          <div class="input_box_error">
            {% with flashes = get_flashed_messages(category_filter=["message"])
            %} {% for flash in flashes %}
            <p class="message_flashes">
              <span>{{ flash }}</span>
            </p>
            {% endfor %} {% endwith %}
          </div>
          <form
            class="input_box"
            action="{{url_for('send_message')}}"
            method="POST"
          >
            <textarea name="message"></textarea>
            <input type="hidden" value="{{channel_id}}" name="channel_id" />
            <button type="submit">
              <ion-icon name="rocket-outline"></ion-icon>
            </button>
          </form>
        </div>
      </div>

      {% with flashes = get_flashed_messages(category_filter=["update_profile"])
      %} {% for flash in flashes %}
      <p class="snackbar">
        <span>{{ flash }}</span>
      </p>
      {% endfor %} {% endwith %}
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <script
      src="{{url_for('static',filename='js/chat.js')}}"
      type="text/javascript"
    ></script>
  </body>
</html>
